<a href="https://colab.research.google.com/github/abebae72/abebae.github.io/blob/main/AI_Civil_Lecture4_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Artificial Intelligence & Civil Engineering : Lecture 4 (Basic Python Language)

In [ ]:
# Condition Statements (조건문)

In [ ]:
# Statement 마지막에 콜론 ":" 기입

In [ ]:
# Condition 내에서는 들여쓰기 (Indentation)

In [ ]:
# "for ~ " Statement
   #   "리스트"가 많이 사용됨
   #   연산자 "range()", "in()"이 많이 사용됨

In [ ]:
for a in [3, 5, 7, 9]:
  print(a)

3
5
7
9

In [ ]:
for a in range(5):      #      range([시작번호], 종료번호, 스텝수]])
  print(a)

0
1
2
3
4

In [ ]:
for value in range(1,5):
  print(value)

1
2
3
4

In [ ]:
squares = []
for value in range(1,11):
  square = value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
players = ['철수', '영희', '기범', '석일', '영미']
print("우리팀에 처음 3명 선수: ")
for players in players[:3]:
  print(players)

우리팀에 처음 3명 선수:
철수
영희
기범

In [ ]:
# if Statement Basic Examples

In [ ]:
# if ~ else ~ Statement             (Please be sure about "Indentation" !)

In [3]:
a = 1
if a == 1:
  print('생도 1학년')                # When the if statement is 'True', print!
else:
  print('생도 2, 3, 4학년')          # When the if statement  is 'False', print!

생도 1학년

In [4]:
a = 2
if a == 1:
  print('생도 1학년')
elif a == 2:
  print('생도 2학년')               # When the elif statement is 'True', print!
else:
  print('생도 3, 4학년')            # When the above all statements are 'False', print!

생도 2학년

In [5]:
a = 4
if a == 1:
  print('생도 1학년')
elif a == 2:
  print('생도 2학년')
elif a == 3:
  print('생도 3학년')
else:
  print('생도 4학년')

생도 4학년

In [ ]:
# if ~ elif ~ else ~ Statement

In [ ]:
a = 13
if a < 12:
  print("Good Morning~")
elif a < 17:                              # Test is conducted until the previous test failed
  print("Good Afternoon~")
elif a < 21:
  print("Good Evening~")
else:
  print("Good Night~")

Good Afternoon~

In [ ]:
age = 12
if age < 4:
  price = 0
elif age < 18:
  price = 25
elif age < 65:
  price = 40
elif age >= 65:
  price = 20                                # Clear Coding
print("Admission Fee :", price)

Admission Fee : 25

In [ ]:
 # "if statement" is frequently used with "for statement"!

In [6]:
for a in range(1, 4):                       
  if a == 3:
    print(a)

3

In [12]:
car_list = ['audi', 'benz', 'toyota', 'hyundai']
for car in car_list:                                   
  if car == 'benz':                                 # if ~
    print(car + ' is the best car') 
  else:                                            # else ~
    print(car + ' is not the best car')

audi is not the best car
benz is the best car
toyota is not the best car
hyundai is not the best car

In [ ]:
#     " in "    " not in "

In [ ]:
toppings = ['mushrooms', 'onions', 'pineapple']
'mushrooms' in toppings

True

In [ ]:
'pepperoni' in toppings

False

In [13]:
if 'a' in 'abe':                # "if statement" can be used with "in" and "not in" statements!
  print('Yes')
else:
  print('No')

Yes

In [15]:
if 1 not in [1, 2, 3]:
  print('No')
else:
  print('Yes')

Yes

In [ ]:
# while statement: conditionally repeating the command

In [ ]:
a = 0
while a < 3:
  print(a)
  a += 1              # operator "+="  :  a = a + 1

0
1
2

In [ ]:
current_number = 1
while current_number <= 5:
  print(current_number)
  current_number += 1           # current_number = current_number + 1

1
2
3
4
5

In [18]:
for i in range(10):        # "Repeating" until digits created by the range command are completely called.
    if i % 2 == 0:         
        continue           #  When the if statement is 'True', then program goes back to the "for statement" without executing "print"!
    print(i)

1
3
5
7
9

In [ ]:
current_number = 0
while current_number < 10:             #  "Repeating" until the variable "current_number" becomes less than 10.
  current_number += 1  
  if current_number % 2 == 0:      
    continue                           #  "continue" commands let Python to ignore the rest of loop, and return to the beginning
  print(current_number)

1
3
5
7
9

In [ ]:
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)
while 'cat' in pets:
  pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']

In [ ]:
#  Function : conditionally repeating the command

In [19]:
def add(a, b):      #  "def" is leading command for defining "Function"      "add" is the name of function in this coding.
  c = a + b
  return c          #  "return" assigns value in the defined variable
add(2, 3)           #  execution of the defined function

5

In [ ]:
def add(a, b):      #  "def" is leading command for defining "Function"      "add" is the name of function in this coding.
  c = a + b
  return c          #  "return" assigns value in the defined variable
print(add(2, 3))    #  execution by "print" command of the defined function

In [ ]:
def add(a, b=4):
  c = a + b
  return c
print(add(3))

7

In [ ]:
def nice_programmer(username):
  print("Hello "+ username +" !")
nice_programmer('Abe')

Hello Abe !

In [ ]:
#  Function : Global Variable and Local Variable

In [ ]:
a = 21                #   "a" is a global variable

def sn():
  b = 43              #   "b" is a local variable
  print(a, b)

sn()

21 43

In [ ]:
a = 21

def sn():
  a = 43
  print("Local:", a)

sn()
print("Global:", a)

Local: 43
Global: 21

In [ ]:
a = 21

def sn():
  global a                #  Defining of the variable "a" as Global Variable!
  a = 43
  print("Global:", a)

sn()
print("Global:", a)

Global: 43
Global: 43